@using App.API.Services.Catalog.Carts
@model List<CartItemViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_ShopLayout2";
	/*var a = */ /*"https://localhost:7100" + Model.ThumbnailImage ?*/
	var a = "/images/b94f5226-370c-4d3f-a264-02a4d1a88a79.jpg";
	var sumtotal = 0;
}
@section StyleSheets{
	<style>
		.imgprd {
			width: 50px;
			height: 50px;
		}
	</style>
}
	@section Scripts{
	<script src="~/js/cart.js"></script>
}
	<div class="container-fluid bg-secondary mb-5">
		<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
			<h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
			<div class="d-inline-flex">
				<p class="m-0"><a href="">Home</a></p>
				<p class="m-0 px-2">-</p>
				<p class="m-0">Shopping Cart</p>
			</div>
		</div>
	</div>
	<!-- Page Header End -->
	<!-- Cart Start -->
	<div class="container-fluid pt-5">
		<div class=" px-xl-5">
			<div class="col-lg-12 table-responsive mb-5">
				<table class="table-item-cart table table-bordered">
					<thead>
						<tr>
							<th>
								Products
							</th>
							<th>
								Price
							</th>
							<th>
								Quantity
							</th>
							<th>
								Total
							</th>
							<th>
								Remove
							</th>
						</tr>
					</thead>
					<tbody>
					@foreach (var item in Model)
					{
						var line = "td-amount-item" + item.ProductId + item.ColorId + item.SizeId;
						var id = item.ProductId + "_" + item.ColorId + "_" + item.SizeId;// mẫu id sản phẩm trong giỏ
						var total = Convert.ToInt32(item.Price * item.Quantity);
						var price = Convert.ToInt32(item.Price);
						sumtotal += total;////
						///
						<tr id="@id">
							<td class="align-middle">
								<div class="d-flex flex-row ">
									<div style="max-width:400px;">
										<img class="imgprd img-circle" src="@a" alt="">
										<span>
											@item.Name @item.ColorName (@item.SizeCode)
										</span>
									</div>
								</div>
							</td>
							<td class="align-middle">@price VNĐ</td>
							<td class="align-middle">
								<div class="input-group quantity mx-auto justify-content-center">
									<div class="input-group-btn">
										<button class="btnMinus btn button button-xs button-secondary button-winona" id="@id">
											<i class="fa fa-minus"></i>
										</button>
									</div>
									<input id="Quantity" style="width: 50px;" type="text" class="@line  text-center" readonly="true" value="@item.Quantity">
									<div class="input-group-btn">
										<button class="btnPlus button button-xs button-secondary button-winona" id="@id">
											<i class="fa fa-plus"></i>
										</button>
									</div>
								</div>
							</td>
							<td id="@line" class="align-middle ">@total VNĐ</td>
							<td class="align-middle"><button id="@id" class="btn-Delete-row button button-xs button-primary-2 button-winona"><i class="fa fa-times"></i></button></td>
						</tr>
					}
				</tbody>
			</table>
			<hr />
			<div class="d-flex justify-content-end">
				<div class=" bg-transparent">
					<div class="d-flex justify-content-between mt-2">
						<h5 class="font-weight-bold mr-2">Total:</h5>
						<h5 id="cart-sum-total" class="font-weight-bold"> @sumtotal VNĐ</h5>
					</div>
					<a asp-action="Checkout" asp-controller="Cart" class="button button-primary-2 button-winona my-3 py-3">Checkout</a>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- Cart End -->
